Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

Modify EnrollmentService method to use caching
  CoursesManagement/Services/EnrollmentService.cs
Owners: @N6q

Modify CourseService to use Caching
  CoursesManagement/Services/CourseService.cs
Owners: @N6q

Modify ProgramsService to use Caching
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Installing Microsoft.EntityFrameworkCore.Proxies Package to use Lazy Loading
  CoursesManagement/CoursesManagement.csproj
Owners: @N6q

Enable Lazy Loading in Program.cs
  CoursesManagement/Program.cs
Owners: @N6q

Modify Navigation Properties in Category modal to use lazy loading
  CoursesManagement/Models/Category.cs
Owners: @N6q

Modify Navigation Properties in Course modal to use lazy loading
  CoursesManagement/Models/Course.cs
Owners: @N6q

Modify Navigation Properties in Enrollment model to use lazy loading
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Modify ProgramsRepo
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Modify IProgramsRepo
  CoursesManagement/Repos/IProgramsRepo.cs
Owners: @N6q

test
  ReportsManagements/Program.cs
  ReportsManagements/Services/AttendanceRecordService.cs
  ReportsManagements/Services/FileCodeService.cs
  ReportsManagements/Services/GeoValidationService .cs
  ReportsManagements/Services/IAttendanceRecordService.cs
  ReportsManagements/Services/IFileCodeService.cs
  ReportsManagements/Services/IGeoValidationService.cs
  ReportsManagements/Services/IReportsService.cs
  ReportsManagements/Services/ReportsService.cs
  ReportsManagements/Services/UploadRateLimiterService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Edit in Branch Controller,DTO,Servuce
  ReportsManagements/Controllers/BranchController.cs
  ReportsManagements/DTOs/BranchDtos.cs
  ReportsManagements/Models/Geolocation.cs
  ReportsManagements/Services/BranchService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add SeedData class for initial database
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

edit in GeolocationController,DTO,Service
  ReportsManagements/Controllers/GeolocationController.cs
  ReportsManagements/DTOs/GeolocationDTO.cs
  ReportsManagements/Services/BranchService.cs
  ReportsManagements/Services/GeolocationService.cs
  ReportsManagements/Services/IBranchService.cs
  ReportsManagements/Services/IGeolocationService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add seed data in CoursesDbContext
  CoursesManagement/CoursesDbContext.cs
Owners: @N6q

entities configuration
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

convert data type from guid to int
  UserManagement/DTOs/BatchDTO.cs
Owners: @mohammedyk7

lint admin profile with batch + add more attribute ResponsibilityTitle
  UserManagement/Models/Admin_Profiles.cs
Owners: @mohammedyk7

link batch with instructors entity, admin profiling , trainee model + put batch id as identity
  UserManagement/Models/Batch.cs
Owners: @mohammedyk7

link instructor with batches, instructors skills model
  UserManagement/Models/Instructor.cs
Owners: @mohammedyk7

link train with trainee skills, instructors , and batch
  UserManagement/Models/Trainee.cs
Owners: @mohammedyk7

create instructor and trainee skills
  UserManagement/Models/InstructorSkill.cs
  UserManagement/Models/TraineeSkill.cs
Owners: @mohammedyk7

convert guid to int
  UserManagement/Repositories/BatchRepository.cs
  UserManagement/Repositories/IBatchRepository.cs
Owners: @mohammedyk7

Build Program.cs
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Program.cs
Owners: @N6q

Do Some Fixes On AutoMapper & Models(Course, Enrollement)
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/Enrollment.cs
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

Adding CertificateDetailsDto DTO
  CoursesManagement/DTOs/CertificateDetailsDto.cs
Owners: @N6q

Adding CertificateListItemDto DTO
  CoursesManagement/DTOs/CertificateListItemDto.cs
Owners: @N6q

Creating CertificateService
  CoursesManagement/Services/CertificateService.cs
Owners: @N6q

Extract ICertificateService
  CoursesManagement/Services/ICertificateService.cs
Owners: @N6q

Modify CourseRepo and ICourseRepo
  CoursesManagement/Repos/CourseRepo.cs
  CoursesManagement/Repos/ICourseRepo.cs
Owners: @N6q

fixSome erross in Ebrollment Repo
  CoursesManagement/Repos/EnrollmentRepo.cs
  CoursesManagement/Repos/IEnrollmentRepo.cs
Owners: @N6q

fix erros in enrollment service
  CoursesManagement/Services/EnrollmentService.cs
Owners: @N6q

Edit Mapping
  ReportsManagements/Mapping/BranchMapping.cs
  ReportsManagements/Mapping/GeoRadiusUpdateMapping.cs
  ReportsManagements/Mapping/GeolocationMapping.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Test
  ReportsManagements/Controllers/FileStorageController.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
  ReportsManagements/Migrations/20251002100440_initial.Designer.cs
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.cs
  ReportsManagements/Migrations/20251002120420_PendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002120420_PendingChanges.cs
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.Designer.cs
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.Designer.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.cs
  ReportsManagements/Migrations/20251005070615_AddGeoRadiusAudit.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.Designer.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.cs
  ReportsManagements/Migrations/20251005073550_AddSize.Designer.cs
  ReportsManagements/Migrations/20251005073550_AddSize.cs
  ReportsManagements/Migrations/20251006052800_Initial.Designer.cs
  ReportsManagements/Migrations/20251006052800_Initial.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
  ReportsManagements/Program.cs
  ReportsManagements/Repositories/IReasonCodeRepository.cs
  ReportsManagements/Repositories/ReasonCodeRepository.cs
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

update
  UserManagement/Migrations/20251006061442_initial.Designer.cs
  UserManagement/Migrations/20251006061615_initial.Designer.cs
  UserManagement/Migrations/20251006061615_initial.cs
  UserManagement/Migrations/20251006061631_iupdatenitial.cs
  UserManagement/Migrations/20251006062054_initiall.Designer.cs
  UserManagement/Migrations/20251006062054_initiall.cs
  UserManagement/Migrations/20251006062636_initiall.Designer.cs
  UserManagement/Migrations/20251006062636_initiall.cs
  UserManagement/Migrations/20251006062751_initiall.Designer.cs
  UserManagement/Migrations/20251006062751_initiall.cs
  UserManagement/Migrations/20251006075314_initial.Designer.cs
  UserManagement/Migrations/20251006075314_initial.cs
  UserManagement/Program.cs
  UserManagement/UserManagement.csproj
  UserManagement/appsettings.json
Owners: @mohammedyk7

Edit
  ReportsManagements/DTOs/BranchDtos.cs
  ReportsManagements/Migrations/20251002100440_initial.Designer.cs
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.cs
  ReportsManagements/Migrations/20251002120420_PendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002120420_PendingChanges.cs
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.Designer.cs
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.Designer.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.cs
  ReportsManagements/Migrations/20251005070615_AddGeoRadiusAudit.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.Designer.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.cs
  ReportsManagements/Migrations/20251005073550_AddSize.Designer.cs
  ReportsManagements/Migrations/20251005073550_AddSize.cs
  ReportsManagements/Migrations/20251006054335_inatial.Designer.cs
  ReportsManagements/Migrations/20251006054335_inatial.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
  ReportsManagements/SeedData/GeoBranchSeedData.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

true if operation succeeded
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

any message (error/success)
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

returned object or list
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Helper factory methods
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
