Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team

Get all AdminProfile (sync) Uses IQueryable for flexibility in filtering
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Calls repository sync method
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Get AdminProfile by Id (sync)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Calls repository sync method
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Add new AdminProfile (sync)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Get AdminProfile by Id (async) Returns IEnumerable since data is materialized
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Calls repository async method
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Get AdminProfile by Id (async)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Add new AdminProfile (async)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Unit tests for CRUD
  AuthenticationManagement/AuthenticationManagement.csproj
  CodelineOnline.Utilities/CodelineOnline.Utilities.csproj
  ReportsManagements/Controllers/GeolocationController.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/GeolocationRepository.cs
  ReportsManagements/SeedData/GeoBranchSeedData.cs
Owners: @Moha2000-dev, @CodelineDotNetBatches/platform-team, @mohammed-alshabibi

Adding Admin Profile Service Interface
  UserManagement/Services/AdminProfileService.cs
  UserManagement/Services/IAdminProfileService.cs
Owners: @mohammedyk7

Marks this class as an API controller
  UserManagement/Controllers/AdminProfileController .cs
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Defines the base route -> API/AdminProfile
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Reference to service Layer
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Constructor injection: The service is injected by dependency injection (DI)
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Add a GET api/AdminProfile/sync/all
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Call service to get admins
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Return 200 OK with data
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Get Admin Profile by Id (sync)
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Call service
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

if not found
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

return 404
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

return 200 OK
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Add new Admin profile (sync)
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Returns 201 Created with location header pointing to new admin
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Reset & unify migrations for UserManagement
  UserManagement/Controllers/SkillController.cs
  UserManagement/Migrations/20250930141524_InitSkillsModule.Designer.cs
  UserManagement/Migrations/20250930141524_InitSkillsModule.cs
  UserManagement/Migrations/20251001093916_InitSystem.Designer.cs
  UserManagement/Migrations/20251001093916_InitSystem.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
  UserManagement/Models/Trainee.cs
  UserManagement/Models/TraineeSkill.cs
  UserManagement/Repositories/ISkillRepository.cs
  UserManagement/Repositories/SkillRepository.cs
  UserManagement/Services/ISkillService.cs
  UserManagement/Services/SkillService.cs
  UserManagement/UsersDbContext.cs
  UserManagement/appsettings.json
Owners: @mohammedyk7

Get all Admin Profile
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Get Admin Profile by Id
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Modify GenericRepository and IGenericRepository class
  CoursesManagement/Repos/ICourseRepository.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Add new AdminProfile (async)
  UserManagement/Controllers/AdminProfileController .cs
Owners: @mohammedyk7

Adding CourseRepo
  CoursesManagement/Repos/CourseRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
Owners: @N6q

Modify repos names
  CoursesManagement/Repos/CourseRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/ICourseRepository.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Add Programs class with properties and data annotations
  CoursesManagement/Models/Programs.cs
Owners: @N6q

Create Trainer Report entities
  ReportsManagements/Models/TrainerReport.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add ReportDbContext + migration
  ReportsManagements/Migrations/20251001102132_Add-TrainerReport+CourseReport.Designer.cs
  ReportsManagements/Migrations/20251001102132_Add-TrainerReport+CourseReport.cs
  ReportsManagements/Models/CourseReport.cs
  ReportsManagements/Models/TrainerReport.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

done
  UserManagement/Models/Admin_Profiles.cs
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

Revert "Category branch"
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Modify GenericRepo
  CoursesManagement/Repos/GenericRepo.cs
Owners: @N6q

Modify Course model
  CoursesManagement/Models/Course.cs
Owners: @N6q

Revert "Merge pull request #13 from CodelineDotNetBatches/CategoryBranch"
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q
