Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team

Created Certificate Verify Result Dto
  CoursesManagement/DTOs/CertificateVerifyResultDto.cs
Owners: @N6q

Fix Category DTO
  CoursesManagement/DTOs/CategoryDto.cs
Owners: @N6q

rename
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

order code
  UserManagement/Mapping/MappingProfiles.cs
  UserManagement/Program.cs
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

add migration
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002115056_AddPendingChanges.cs
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

update Name in Geolocation table and seeder file
  ReportsManagements/Models/Geolocation.cs
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

GeoValidationService: Service to check if a point is inside a circle and calculate distance
  ReportsManagements/Services/GeoValidationService .cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Refactor IProgramsRepo and ProgramsRepo methods
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Change in DTOs
  CoursesManagement/DTOs/CreateEnrollmentDto.cs
  CoursesManagement/DTOs/EnrollmentDetailDto.cs
  CoursesManagement/DTOs/EnrollmentDto.cs
  CoursesManagement/DTOs/EnrollmentListDto.cs
  CoursesManagement/DTOs/UpdateEnrollmentDto.cs
Owners: @N6q

change in enrollment model
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

testing
  ReportsManagements/Migrations/20251002120420_PendingChanges.Designer.cs
  ReportsManagements/Migrations/20251002120420_PendingChanges.cs
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add services for Enrollment
  CoursesManagement/Services/EnrollmentService.cs
  CoursesManagement/Services/IEnrollmentService.cs
Owners: @N6q

add contoller for Enrollment
  CoursesManagement/Controllers/EnrollmentController.cs
Owners: @N6q

change in repo of Enrollment
  CoursesManagement/Repos/EnrollmentRepo.cs
  CoursesManagement/Repos/IEnrollmentRepo.cs
Owners: @N6q

Add Activate and Deactivate for Reason Code Add validation for file upload (allowed extensions, max size, metadata) Add end point (accepts metadata JSON → returns stub URL)
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/Controllers/FileStorageController.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
  ReportsManagements/DTOs/FileDto.cs
  ReportsManagements/Models/FileStorage.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/FileStorageRepository.cs
  ReportsManagements/Repositories/IFileStorageRepository.cs
  ReportsManagements/Repositories/IReasonCodeRepository.cs
  ReportsManagements/Repositories/ReasonCodeRepository.cs
  ReportsManagements/Services/FileCodeService.cs
  ReportsManagements/Services/IFileCodeService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add soft delete flog
  ReportsManagements/Models/AttendanceRecord.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Global query filter to exclude soft-deleted records
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Revert "Add Activate and Deactivate for Reason Code"
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/Controllers/FileStorageController.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
  ReportsManagements/DTOs/FileDto.cs
  ReportsManagements/Models/FileStorage.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/FileStorageRepository.cs
  ReportsManagements/Repositories/IFileStorageRepository.cs
  ReportsManagements/Repositories/IReasonCodeRepository.cs
  ReportsManagements/Repositories/ReasonCodeRepository.cs
  ReportsManagements/Services/FileCodeService.cs
  ReportsManagements/Services/IFileCodeService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add SoftDeleteAsync in services
  ReportsManagements/Services/AttendanceRecordService.cs
  ReportsManagements/Services/IAttendanceRecordService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

fix code
  UserManagement/Mapping/AdminProfileMapping .cs
  UserManagement/Program.cs
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/Repositories/GenericRepository.cs
  UserManagement/Repositories/IGenericRepo.cs
  UserManagement/Repositories/SkillRepository.cs
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

edit in GeoValidationService
  ReportsManagements/Services/GeoValidationService .cs
  ReportsManagements/Services/IGeoValidationService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add GeoController with POST /api/v1/geo/validate endpoint for point-in-circle validation
  ReportsManagements/Controllers/GeoController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Modify ICourseRepo repo
  CoursesManagement/Repos/ICourseRepo.cs
Owners: @N6q

Modify Course model navigation properties
  CoursesManagement/Models/Course.cs
Owners: @N6q

Modified ICertificateRepo by adding generic functionality
  CoursesManagement/Repos/ICertificateRepo.cs
Owners: @N6q

Modify IProgramsRepo by adding generic functionality
  CoursesManagement/Repos/IProgramsRepo.cs
Owners: @N6q

Add relationship between Branch and Geolocation in the model
  ReportsManagements/Models/Branch.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create migration
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.Designer.cs
  ReportsManagements/Migrations/20251005061903_AddBranchGeolocations.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add method to BranchRepository to get geolocations and expose endpoint in BranchController
  ReportsManagements/Controllers/BranchController.cs
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/Repositories/IBranchRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add The Annotations (SwaggerResponse)
  CoursesManagement/Controllers/CategoriesController.cs
  CoursesManagement/CoursesManagement.csproj
Owners: @N6q

Added endpoint to get branch report with its geolocations
  ReportsManagements/Controllers/BranchController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Fix Line On DTO
  CoursesManagement/DTOs/CategoryDetailDto.cs
Owners: @N6q

Added builder setup
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

make Controller more advanced
  CoursesManagement/Controllers/EnrollmentController.cs
Owners: @N6q

change in Enrollment model
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Add Soft Delete for Branch and Geolocation
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/Repositories/GeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Edit to return only active records in GetAllAsync
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/Repositories/GeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add GeoRadiusAudit table
  ReportsManagements/Models/GeoRadiusAudit.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Fix ProgramRepo
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

edit in DbContext
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi
