Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

add branch object
  UserManagement/Models/Admin_Profiles.cs
Owners: @mohammedyk7

Created Certificates Controller
  CoursesManagement/Controllers/CertificatesController .cs
Owners: @N6q

Add Error Log and document known issues in project
  CoursesManagement/ErrorLog/ErrorLog.md
Owners: @N6q

adding nevgation
  UserManagement/Models/Admin_Profiles.cs
  UserManagement/Models/Batch.cs
  UserManagement/Models/Branch.cs
  UserManagement/Models/Instructor.cs
  UserManagement/Models/Trainee.cs
Owners: @mohammedyk7

adding DbSet for Room and Branch
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

add required data anotation
  UserManagement/Models/Branch.cs
  UserManagement/Models/Room.cs
Owners: @mohammedyk7

change in controllers
  CoursesManagement/Controllers/EnrollmentController.cs
Owners: @N6q

change in Repo
  CoursesManagement/Repos/EnrollmentRepo.cs
  CoursesManagement/Repos/IEnrollmentRepo.cs
Owners: @N6q

change in Service
  CoursesManagement/Services/EnrollmentService.cs
  CoursesManagement/Services/IEnrollmentService.cs
Owners: @N6q

Add Category Cashing Service
  CoursesManagement/Services/CategoryService.cs
Owners: @N6q

Inhereted ControllerBase
  CoursesManagement/Controllers/CertificatesController .cs
Owners: @N6q

Modify CourseListDto
  CoursesManagement/DTOs/CourseListDto.cs
Owners: @N6q

Modify program retrieval methods to use DTOs
  CoursesManagement/Services/IProgramsService.cs
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Modify GetCourseByIdAsync to return CourseListDto
  CoursesManagement/Services/CourseService.cs
Owners: @N6q

Modify ICourseService
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

modify the seedData
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

Modify GetCoursesByCategoryAsync method to return DTO
  CoursesManagement/Services/CourseService.cs
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Modify CourseCreateDto
  CoursesManagement/DTOs/CourseCreateDto.cs
Owners: @N6q

Modify CourseUpdateDto
  CoursesManagement/DTOs/CourseUpdateDto.cs
Owners: @N6q

fix the repos
  CoursesManagement/Repos/CertificateRepo.cs
  CoursesManagement/Repos/ICertificateRepo.cs
Owners: @N6q

Finishing Course API testing
  CoursesManagement/Services/CourseService.cs
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Add some modifications
  UserManagement/Migrations/20251006075314_initial.Designer.cs
  UserManagement/Migrations/20251006104255_SeedAdminProfiles.Designer.cs
  UserManagement/Migrations/20251006104255_SeedAdminProfiles.cs
  UserManagement/Migrations/20251006105251_InitAdminSeed.cs
  UserManagement/Migrations/20251006110639_SeedAvailabilitiesFix.Designer.cs
  UserManagement/Migrations/20251006110639_SeedAvailabilitiesFix.cs
  UserManagement/Migrations/20251007114145_initial.Designer.cs
  UserManagement/Migrations/20251007114145_initial.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
  UserManagement/Models/Availability.cs
  UserManagement/Models/Branch.cs
  UserManagement/Models/InstructorSkill.cs
  UserManagement/SeedData/AdminSeedData.cs
  UserManagement/SeedData/BranchSeed.cs
  UserManagement/UsersDbContext.cs
  UserManagement/repositories/AvailabilityRepo.cs
  UserManagement/repositories/IAvailabilityRepository.cs
  UserManagement/services/AvailabilityService.cs
Owners: @mohammedyk7

update change Role type to Role name
  AuthenticationManagement/AuthenticationDbContext.cs
  AuthenticationManagement/Controllers/AuthController.cs
  AuthenticationManagement/Controllers/RoleController.cs
  AuthenticationManagement/Controllers/UserController.cs
  AuthenticationManagement/DTOs/AuthDtos.cs
  AuthenticationManagement/DTOs/RoleDto.cs
  AuthenticationManagement/DTOs/UserDto.cs
  AuthenticationManagement/Mapping/UserProfile.cs
  AuthenticationManagement/Migrations/20251007115446_Init.Designer.cs
  AuthenticationManagement/Migrations/20251007115446_Init.cs
  AuthenticationManagement/Migrations/AuthenticationDbContextModelSnapshot.cs
  AuthenticationManagement/Models/Role.cs
  AuthenticationManagement/Models/User.cs
  AuthenticationManagement/Repositories/IRoleRepository.cs
  AuthenticationManagement/Repositories/RoleRepository.cs
  AuthenticationManagement/Services/AuthService.cs
  AuthenticationManagement/Services/ITokenService.cs
  AuthenticationManagement/Services/TokenService.cs
  AuthenticationManagement/appsettings.json
Owners: @Moha2000-dev

Enhance ProgramsController and introduce ProgramsDto
  CoursesManagement/Controllers/ProgramsController.cs
  CoursesManagement/DTOs/ProgramsDto.cs
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Modified Certificate Model
  CoursesManagement/Models/Certificate.cs
Owners: @N6q

Add mapping for ProgramsDto to Programs in AutoMapper
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

fix model
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Test it & Update Coding
  CoursesManagement/Controllers/CategoriesController.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
  CoursesManagement/Services/CategoryService.cs
  CoursesManagement/Services/ICategoryService.cs
Owners: @N6q

Fixing Database
  CoursesManagement/CoursesDbContext.cs
  CoursesManagement/Migrations/20251007125837_FixCascadeIssue.Designer.cs
  CoursesManagement/Migrations/20251007125837_FixCascadeIssue.cs
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Add DTOs for program details and enrollment tracking
  CoursesManagement/DTOs/ProgramDetailsDto.cs
  CoursesManagement/DTOs/ProgramsWithCategoryDto.cs
  CoursesManagement/DTOs/ProgramsWithCoursesDto.cs
  CoursesManagement/DTOs/ProgramsWithEnrollmentDto.cs
Owners: @N6q

Add method to retrieve enrollments in a program
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Add DTO mappings for Programs entity in AutoMapper
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

Update IProgramsService and ProgramsService methods
  CoursesManagement/Services/IProgramsService.cs
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Add new endpoints for program details and enrollments
  CoursesManagement/Controllers/ProgramsController.cs
Owners: @N6q

Add methods for program retrieval with courses and enrollments
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Fix structure in SeedData and update enrollment mapping
  CoursesManagement/Data/SeedData.cs
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

Refactor program retrieval methods in ProgramsService
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Fix route formatting and improve error handling
  CoursesManagement/Controllers/ProgramsController.cs
Owners: @N6q

Updated Category Service & Add Seed Data Between Category & Programs
  CoursesManagement/CoursesDbContext.cs
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Data/SeedData.cs
  CoursesManagement/Migrations/20251007141111_FixProgramCategoriesCompositeKey.Designer.cs
  CoursesManagement/Migrations/20251007141111_FixProgramCategoriesCompositeKey.cs
  CoursesManagement/Services/CategoryService.cs
  CoursesManagement/Services/ICategoryService.cs
Owners: @N6q

remove comment
  CoursesManagement/CoursesDbContext.cs
Owners: @N6q

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
