Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

add Geolocation Repository &IGeolocation Repository
  ReportsManagements/Repositories/GeolocationRepository.cs
  ReportsManagements/Repositories/IGeolocationRepository.cs
  ReportsManagements/Repositories/usiing.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add migration
  ReportsManagements/Migrations/20250930120357_Initial-ContextReportsDbContext.Designer.cs
  ReportsManagements/Migrations/20250930120357_Initial-ContextReportsDbContext.cs
  ReportsManagements/Migrations/20250930122709_UpdateBranchEntity.Designer.cs
  ReportsManagements/Migrations/20250930122709_UpdateBranchEntity.cs
  ReportsManagements/Migrations/20250930143430_AddNameInGeolocation.Designer.cs
  ReportsManagements/Migrations/20250930143430_AddNameInGeolocation.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add name in Geolocation
  ReportsManagements/Models/Geolocation.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add GeoBranch Seed Data
  ReportsManagements/SeedData/GeoBranchSeedData.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create Reason code controller file
  ReportsManagements/Controllers/FileStorageController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create Reason code controller file and File storage controller
  ReportsManagements/Controllers/.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create File storage and reason code models
  ReportsManagements/Models/FileStorage.cs
  ReportsManagements/Models/ReasonCode.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create FileStorage, IFileStorage, ReasonCode, IReasonCode
  ReportsManagements/Repositories/FileStorage .cs
  ReportsManagements/Repositories/IFileStorage.cs
  ReportsManagements/Repositories/IReasonCode.cs
  ReportsManagements/Repositories/ReasonCode .cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add migration
  ReportsManagements/Migrations/20250930123344_InitReasonAndFiles.Designer.cs
  ReportsManagements/Migrations/20250930123344_InitReasonAndFiles.cs
  ReportsManagements/Migrations/20250930123824_SeedReasonCodes.Designer.cs
  ReportsManagements/Migrations/20250930123824_SeedReasonCodes.cs
  ReportsManagements/Migrations/20250930150804_SeedData.Designer.cs
  ReportsManagements/Migrations/20250930150804_SeedData.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

edit in DbContext
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

edit in FileStorage
  ReportsManagements/Models/FileStorage.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add model of trainee and batch
  UserManagement/Controllers/BatchController.cs
  UserManagement/Controllers/TraineeController.cs
  UserManagement/DTOs/BatchDTO.cs
  UserManagement/DTOs/TraineeDTO.cs
  UserManagement/Models/Batch.cs
  UserManagement/Models/Trainee.cs
  UserManagement/Repositories/BatchRepository.cs
  UserManagement/Repositories/IBatchRepository.cs
  UserManagement/Repositories/ITraineeRepository.cs
  UserManagement/Repositories/TraineeRepository.cs
  UserManagement/Services/BatchService.cs
  UserManagement/Services/IBatchService.cs
  UserManagement/Services/ITraineeService.cs
  UserManagement/Services/TraineeService.cs
  UserManagement/UserManagement.csproj
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

fix code
  CoursesManagement/CoursesDbContext.cs
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
  UserManagement/Migrations/20251001034059_InitSystem.Designer.cs
  UserManagement/Migrations/20251001034059_InitSystem.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
  UserManagement/Models/Batch.cs
  UserManagement/Models/BatchTrainee.cs
  UserManagement/Models/Trainee.cs
  UserManagement/Program.cs
  UserManagement/Repositories/BatchRepository.cs
  UserManagement/Repositories/TraineeRepository.cs
  UserManagement/SeedData/ModelBuilderExtensions.cs
  UserManagement/UserManagement.csproj
  UserManagement/UsersDbContext.cs
Owners: @N6q, @mohammedyk7

create project structure
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

add In-Memory Cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

add Distributed Cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Key for caching
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Get all AdminProfiles (sync) using IQueryable for extensibility
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Try to get data from Memory Cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Adding a Load from DB (sync)
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

SKILLS
  UserManagement/Controllers/SkillController.cs
  UserManagement/DTOs/SkillDto.cs
  UserManagement/DTOs/TraineeSkillDto.cs
  UserManagement/Mapping/MappingProfiles.cs
  UserManagement/Migrations/20250930141524_InitSkillsModule.Designer.cs
  UserManagement/Migrations/20250930141524_InitSkillsModule.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
  UserManagement/Models/Skill.cs
  UserManagement/Models/Trainee.cs
  UserManagement/Models/TraineeSkill.cs
  UserManagement/Program.cs
  UserManagement/Repositories/GenericRepository.cs
  UserManagement/Repositories/IRepository.cs
  UserManagement/Repositories/ISkillRepository.cs
  UserManagement/Repositories/SkillRepository.cs
  UserManagement/Services/ISkillService.cs
  UserManagement/Services/SkillService.cs
  UserManagement/UserManagement.csproj
  UserManagement/UsersDbContext.cs
  UserManagement/appsettings.json
Owners: @mohammedyk7

Adding a Save to Memory Cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Return as IQueryable
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Get AdminProfile by Id (sync)
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Add new AdminProfile (sync)
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Get all AdminProfiles (sync) with Distributed Caching
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Try Distributed Cache first
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

If not cached, load from DB
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Save in distributed cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Get AdminProfile by Id (async)
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Add new AdminProfile (async)
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Clear distributed cache
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Adding Admin Profile Interface
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/Repositories/IAdminProfileRepository.cs
Owners: @mohammedyk7

add the code to all files in all folders
  AuthenticationManagement/AuthenticationDbContext.cs
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Controllers/RoleController.cs
  AuthenticationManagement/Controllers/UserController.cs
  AuthenticationManagement/DTOs/RoleDto.cs
  AuthenticationManagement/DTOs/UserDto.cs
  AuthenticationManagement/Mapping/RoleProfile.cs
  AuthenticationManagement/Mapping/UserProfile.cs
  AuthenticationManagement/Models/Role.cs
  AuthenticationManagement/Models/User.cs
  AuthenticationManagement/Repositories/GenericRepository.cs
  AuthenticationManagement/Repositories/IGenericRepository.cs
  AuthenticationManagement/Repositories/IRoleRepository.cs
  AuthenticationManagement/Repositories/IUserRepository.cs
  AuthenticationManagement/Repositories/RoleRepository.cs
  AuthenticationManagement/Repositories/UserRepository.cs
  AuthenticationManagement/Services/IRoleService.cs
  AuthenticationManagement/Services/IUserService.cs
  AuthenticationManagement/Services/RoleService.cs
  AuthenticationManagement/Services/UserService.cs
Owners: @Moha2000-dev

add Branch Controller
  ReportsManagements/Controllers/BranchController.cs
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/SeedData/GeoBranchSeedData.cs
  ReportsManagements/appsettings.json
Owners: @Moha2000-dev, @mohammed-alshabibi

Adding Course model fields
  CoursesManagement/Models/Course.cs
Owners: @N6q

Fix: return false when entity not found in DeleteAsync
  ReportsManagements/Repositories/GeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Reference to repository
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Adding the AdminProfile service
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Constructor injection: Repository is passed in from Dependency Injection (DI)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
