Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

Edit
  ReportsManagements/Migrations/20251005070615_AddGeoRadiusAudit.Designer.cs
  ReportsManagements/Migrations/20251005070615_AddGeoRadiusAudit.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.Designer.cs
  ReportsManagements/Migrations/20251005070833_AddGeoRadiusAuditFK.cs
  ReportsManagements/Models/GeoRadiusAudit.cs
  ReportsManagements/Repositories/GeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Controller for managing geolocations and updating radius with audit logging
  ReportsManagements/Controllers/GeolocationController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add (AddAuditAsync)
  ReportsManagements/Repositories/GeolocationRepository.cs
  ReportsManagements/Repositories/IGeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Edit
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

Add FileDto
  ReportsManagements/DTOs/FileDto.cs
  ReportsManagements/Models/FileStorage.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add model for error responses
  ReportsManagements/Models/ErrorResponse.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add Rate Limiting
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/Controllers/FileStorageController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add service for Rate Limiting
  ReportsManagements/Services/UploadRateLimiterService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Add MIME sniff and file size check on upload
  ReportsManagements/Services/FileCodeService.cs
  ReportsManagements/Services/IFileCodeService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

edit program
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

update database
  ReportsManagements/Migrations/20251005073550_AddSize.Designer.cs
  ReportsManagements/Migrations/20251005073550_AddSize.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Added health endpoint for branches and geolocations
  ReportsManagements/Controllers/GeoController.cs
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/Repositories/GeolocationRepository.cs
  ReportsManagements/Repositories/IBranchRepository.cs
  ReportsManagements/Repositories/IGeolocationRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Added GeoValidationService with Haversine distance calculation for point-in-circle checks
  ReportsManagements/Services/GeoValidationService .cs
Owners: @Moha2000-dev, @mohammed-alshabibi

update seeddata
  ReportsManagements/Controllers/AttendanceController.cs
  ReportsManagements/DTOs/AttendanceRecordCreateDto.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.Designer.cs
  ReportsManagements/Migrations/20251005062934_PendingChangesFix.cs
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Fix: adjusted some issues in the GeoController endpoints
  ReportsManagements/Controllers/GeoController.cs
  ReportsManagements/DTOs/GeoValidateRequest.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/BranchRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

update seeddata2
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

test swagger
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/Services/AttendanceRecordService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Modify Course model - fields data type
  CoursesManagement/Models/Course.cs
Owners: @N6q

Add CategoryId property to ProgramUpdateDto
  CoursesManagement/DTOs/ProgramUpdateDto.cs
Owners: @N6q

Add ProgramsService for program management functionality
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Add IProgramsService interface for program management
  CoursesManagement/Services/IProgramsService.cs
Owners: @N6q

Implement IProgramsService in ProgramsService
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Create CourseService with it's methods
  CoursesManagement/Services/CourseService.cs
Owners: @N6q

Extract ICourseService
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Create CourseController file
  CoursesManagement/Controllers/CourseController.cs
Owners: @N6q

Modified Certificate Model
  CoursesManagement/Models/Certificate.cs
Owners: @N6q

Add ProgramsController for CRUD operations
  CoursesManagement/Controllers/ProgramsController.cs
Owners: @N6q

Added navigation in enrollment model
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Create CacheKeys class
  CoursesManagement/CacheKeys.cs
Owners: @N6q

Register the built-in memory cache service in program.cs
  CoursesManagement/Program.cs
Owners: @N6q

final update
  UserManagement/DTOs/TraineeSkillDto.cs
  UserManagement/Mapping/AdminProfileMapping .cs
  UserManagement/Mapping/BatchMapping.cs
  UserManagement/Mapping/MappingProfiles.cs
  UserManagement/Mapping/TraineeMapping.cs
  UserManagement/Migrations/20251001093916_InitSystem.Designer.cs
  UserManagement/Migrations/20251001093916_InitSystem.cs
  UserManagement/Migrations/20251002054608_initial.Designer.cs
  UserManagement/Migrations/20251002054608_initial.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
  UserManagement/Models/Batch.cs
  UserManagement/Models/BatchTrainee.cs
  UserManagement/Models/Instructor.cs
  UserManagement/Models/Skill.cs
  UserManagement/Models/Trainee.cs
  UserManagement/Models/TraineeSkill.cs
  UserManagement/Program.cs
  UserManagement/Repositories/GenericRepository.cs
  UserManagement/Repositories/IGenericRepo.cs
  UserManagement/Repositories/ISkillRepository.cs
  UserManagement/Repositories/ITraineeRepository.cs
  UserManagement/Repositories/SkillRepository.cs
  UserManagement/Repositories/TraineeRepository.cs
  UserManagement/SeedData/BatchSeedData.cs
  UserManagement/SeedData/Batches_Trainees_BatchTrainee_SeedData.cs
  UserManagement/SeedData/SkillSeedData.cs
  UserManagement/SeedData/TraineeSeedData.cs
  UserManagement/Services/ISkillService.cs
  UserManagement/Services/SkillService.cs
  UserManagement/Services/TraineeService.cs
  UserManagement/UserManagement.csproj
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

Created Certificate Service
  CoursesManagement/Services/CertificateService.cs
Owners: @N6q

Inject IMemoryCache into CategoryService
  CoursesManagement/Services/CategoryService.cs
Owners: @N6q

Inject IMemoryCache into EnrollmentService
  CoursesManagement/Services/EnrollmentService.cs
Owners: @N6q

add automapper
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

add DB context
  CoursesManagement/CoursesDbContext.cs
Owners: @N6q

change in DTOs
  CoursesManagement/DTOs/CategoryDetailDto.cs
  CoursesManagement/DTOs/CertificateDetailsDto.cs
  CoursesManagement/DTOs/CertificateIssueDto.cs
  CoursesManagement/DTOs/CourseDetailsDto.cs
  CoursesManagement/DTOs/CourseListDto.cs
  CoursesManagement/DTOs/EnrollmentListDto.cs
Owners: @N6q

Change in models
  CoursesManagement/Models/Certificate.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

change in program repo
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Modify CategoryService method to use caching
  CoursesManagement/Services/CategoryService.cs
Owners: @N6q

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
