Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team

Delete CoursesManagement/Models directory
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
Owners: @N6q

Delete CoursesManagement/Configurations directory
  CoursesManagement/Configurations/CategoryConfig.cs
  CoursesManagement/Configurations/CourseConfig.cs
  CoursesManagement/Configurations/LessonConfig.cs
  CoursesManagement/Configurations/ProgramsConfig.cs
  CoursesManagement/Configurations/QuestionConfig.cs
  CoursesManagement/Configurations/QuizConfig.cs
Owners: @N6q

Adding Data Models
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
Owners: @N6q

testing
  CoursesManagement/CoursesDbContext.cs
Owners: @N6q

tetsing2
  CoursesManagement/CoursesDbContext.cs
Owners: @N6q

testing
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

testing2
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Create Project Sturcture
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

add file
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Create entities: Branch, Geolocation, BranchReport
  ReportsManagements/Models/Branch.cs
  ReportsManagements/Models/BranchReport.cs
  ReportsManagements/Models/Geolocation.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create model and repo class
  ReportsManagements/Controllers/file1.cs
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/AttendanceRepository.cs
  ReportsManagements/Repositories/IAttendanceRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

create repositry interface
  ReportsManagements/Repositories/AttendanceRepository.cs
  ReportsManagements/Repositories/IAttendanceRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

structer
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Add Total Instructors in Branch Report
  ReportsManagements/Models/BranchReport.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

ss
  AuthenticationManagement/AuthenticationDbContext.cs
Owners: @Moha2000-dev

ا
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

add files
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/DTOs/FileUpdateDTO.cs
  ReportsManagements/Models/FileStorage.cs
  ReportsManagements/Models/ReasonCode.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/FileStorage .cs
  ReportsManagements/Repositories/ReasonCode .cs
  ReportsManagements/SeedData/ReasonCodeSeedConfig.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

update for kaream
  ReportsManagements/Controllers/file1.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Services/AttendanceRecordService.cs
  ReportsManagements/Services/IAttendanceRecordService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Edit
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

structer
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Build Category Model
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/Course.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
Owners: @N6q

Revert "structer"
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Build Generic & IGenericRepo
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Delete models which are not need in this branch
  CoursesManagement/Models/Assignment.cs
  CoursesManagement/Models/Category.cs
  CoursesManagement/Models/DemoUser.cs
  CoursesManagement/Models/Lesson.cs
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Models/Question.cs
  CoursesManagement/Models/Quiz.cs
  CoursesManagement/Models/UserAnswer.cs
Owners: @N6q

Add Folders
  CoursesManagement/CoursesManagement.csproj
Owners: @N6q

Represents the Admin Profile entity (table in the database)
  UserManagement/Models/Admin Profiles.cs
Owners: @mohammedyk7

Navigation property for related responsibilities One Admin can have many Responsibilities
  UserManagement/Models/Admin Profiles.cs
Owners: @mohammedyk7

Represents the Responsibility entity (table in the database)
  UserManagement/Models/Admin Profiles.cs
Owners: @mohammedyk7

add Navigation property back to AdminProfile
  UserManagement/Models/Admin Profiles.cs
Owners: @mohammedyk7

Edit the primary key in branch
  ReportsManagements/Models/Branch.cs
  ReportsManagements/Models/Geolocation.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Fix GenericRepo and Build Category & ICategory Repos
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
Owners: @N6q

add Branch Repository
  ReportsManagements/Repositories/BranchRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add IBranch Repository
  ReportsManagements/Repositories/BranchRepository.cs
  ReportsManagements/Repositories/IBranchRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add the admin profile repo
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

add the admin repo
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Database context
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Constructor injection of DbContext
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

create service
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/Models/Geolocation.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/Repositories/AttendanceRepository.cs
  ReportsManagements/Services/AttendanceRecordService.cs
  ReportsManagements/Services/IAttendanceRecordService.cs
  ReportsManagements/appsettings.json
Owners: @Moha2000-dev, @mohammed-alshabibi

add the Constructor injection of DbContext
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

create mapping file,
  ReportsManagements/Mapping/AttendanceMapping.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi
