Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

add AdminProfileMapping
  UserManagement/Mapping/AdminProfileMapping .cs
Owners: @mohammedyk7

Adding Course model
  CoursesManagement/Models/Course.cs
Owners: @N6q

update repostiry
  ReportsManagements/Repositories/AttendanceRepository.cs
  ReportsManagements/Repositories/IAttendanceRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add controllers for role and user
  AuthenticationManagement/Controllers/RoleController.cs
  AuthenticationManagement/Controllers/UserController.cs
Owners: @Moha2000-dev

add mapping for user and role
  AuthenticationManagement/Mapping/RoleProfile.cs
  AuthenticationManagement/Mapping/UserProfile.cs
Owners: @Moha2000-dev

add repo for generic and user
  AuthenticationManagement/Repositories/GenericRepository.cs
  AuthenticationManagement/Repositories/IGenericRepository.cs
  AuthenticationManagement/Repositories/IUserRepository.cs
  AuthenticationManagement/Repositories/UserRepository.cs
Owners: @Moha2000-dev

add services for user and role
  AuthenticationManagement/AuthenticationDbContext.cs
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Services/IRoleService.cs
  AuthenticationManagement/Services/IUserService.cs
  AuthenticationManagement/Services/RoleService.cs
  AuthenticationManagement/Services/UserService.cs
Owners: @Moha2000-dev

ADD REPORTS
  ReportsManagements/DTOs/ReportDtos.cs
  ReportsManagements/Mapping/ReportsMapping.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/ICourseReportRepository.cs
  ReportsManagements/Repositories/ITrainerReportRepository.cs
  ReportsManagements/Repositories/TrainerReportRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Delete ICourseRepository interface
  CoursesManagement/Repos/ICourseRepository.cs
Owners: @N6q

Create CourseRepo repository
  CoursesManagement/Repos/CourseRepo.cs
Owners: @N6q

ADD SEREVESE
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/Repositories/CourseReportRepository.cs
  ReportsManagements/Repositories/ICourseReportRepository.cs
  ReportsManagements/Services/IReportsService.cs
  ReportsManagements/Services/ReportsService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Change in Enrollment Model
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Extract ICourseRepo interface
  CoursesManagement/Repos/ICourseRepo.cs
Owners: @N6q

add Controlers
  ReportsManagements/Controllers/ReportsController.cs
  ReportsManagements/Services/ReportsService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add the interface for the admin profile service
  UserManagement/Services/AdminProfileService.cs
  UserManagement/Services/IAdminProfileService.cs
Owners: @mohammedyk7

Implemented Certificate Repository
  CoursesManagement/Repos/CertificateRepo.cs
Owners: @N6q

Created Certificate Repository Interface
  CoursesManagement/Repos/ICertificateRepo.cs
Owners: @N6q

WORKS
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

completed
  UserManagement/Controllers/AdminProfileController .cs
  UserManagement/UserManagement.csproj
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

update services
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/Repositories/AttendanceRepository.cs
  ReportsManagements/Repositories/IAttendanceRepository.cs
  ReportsManagements/Services/AttendanceRecordService.cs
  ReportsManagements/Services/IAttendanceRecordService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Adding CourseCreateDto DTO
  CoursesManagement/DTOs/CourseCreateDto.cs
Owners: @N6q

Make EnrollmentDTO
  CoursesManagement/DTOs/EnrollmentDto.cs
Owners: @N6q

Fix Enrollment REPO
  CoursesManagement/Repos/EnrollmentRepo.cs
  CoursesManagement/Repos/IEnrollmentRepo.cs
Owners: @N6q

ADD REPORTS
  ReportsManagements/DTOs/ReportOverviewDto.cs
  ReportsManagements/Services/IReportsService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Fixes
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Services/CategoryService.cs
Owners: @N6q

update controller to allow for add Add Review endpoint
  ReportsManagements/Controllers/AttendanceController.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add the over vwi servecs
  ReportsManagements/Controllers/ReportsController.cs
  ReportsManagements/Program.cs
  ReportsManagements/Services/ReportsService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Refactor Programs and IProgramsRepo
  CoursesManagement/Models/Programs.cs
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Adding CourseUpdateDto DTO
  CoursesManagement/DTOs/CourseUpdateDto.cs
Owners: @N6q

Adding CourseDetailsDto DTO
  CoursesManagement/DTOs/CourseDetailsDto.cs
Owners: @N6q

Adding CourseListDto DTO
  CoursesManagement/DTOs/CourseListDto.cs
Owners: @N6q

Add DTOs for program creation, details, and updates
  CoursesManagement/DTOs/ProgramDetailsDto.cs
  CoursesManagement/DTOs/ProgramUpdateDto.cs
Owners: @N6q

try in seeddata
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Created Certificate Issue Dto
  CoursesManagement/DTOs/CertificateIssueDto.cs
Owners: @N6q

Fix Repo
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

fix Category service and DTOs
  CoursesManagement/DTOs/CategoryDetailDto.cs
  CoursesManagement/DTOs/CategoryDto.cs
  CoursesManagement/Services/CategoryService.cs
Owners: @N6q

Created Certificate Update Url Dto
  CoursesManagement/DTOs/CertificateUpdateUrlDto.cs
Owners: @N6q

Created Certificate Query Dto
  CoursesManagement/DTOs/CertificateQueryDto.cs
Owners: @N6q

Created Certificate List Item Dto
  CoursesManagement/DTOs/CertificateListItemDto.cs
Owners: @N6q

Created Certificate Details Dto
  CoursesManagement/DTOs/CertificateDetailsDto.cs
Owners: @N6q

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
