Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

Validation helper to manually validate models
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Logging helper to standardize error logs across the app.
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Common utilities for time, strings, and IDs
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Generate a random alphanumeric code (for Admin IDs or tracking)
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Capitalize first letter of each word
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Refactor category handling and remove Certificates entity
  CoursesManagement/Controllers/CourseController.cs
  CoursesManagement/CoursesDbContext.cs
  CoursesManagement/Migrations/20251006103753_initial.Designer.cs
  CoursesManagement/Migrations/20251006103753_initial.cs
  CoursesManagement/Migrations/CoursesDbContextModelSnapshot.cs
  CoursesManagement/Models/Certificate.cs
  CoursesManagement/Services/CourseService.cs
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Modify API naming
  CoursesManagement/Controllers/CourseController.cs
Owners: @N6q

Api Naming & Add Services
  CoursesManagement/Controllers/CategoriesController.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
  CoursesManagement/Services/CategoryService.cs
  CoursesManagement/Services/ICategoryService.cs
Owners: @N6q

Modify API naming
  CoursesManagement/Controllers/CourseController.cs
Owners: @N6q

Adding GetCourseWithEnrollmentListAsync method
  CoursesManagement/Services/CourseService.cs
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Adding GetCourseByNameAsync method in CourseService
  CoursesManagement/Services/CourseService.cs
Owners: @N6q

Adding GetCourseByNameAsync in ICourseService
  CoursesManagement/Services/ICourseService.cs
Owners: @N6q

Adding GetCourseByName API
  CoursesManagement/Controllers/CourseController.cs
Owners: @N6q

Add methods for program and enrollment retrieval
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

Add methods for program retrieval in IProgramsService
  CoursesManagement/Services/IProgramsService.cs
  CoursesManagement/Services/ProgramsService.cs
Owners: @N6q

Error error handling in ProgramsController
  CoursesManagement/Controllers/ProgramsController.cs
Owners: @N6q

Make commit on certificate
  CoursesManagement/Profile/AutoMapper.cs
Owners: @N6q

fix flie nameing
  UserManagement/Controllers/AdminProfileController .cs
  UserManagement/Controllers/AvailabilitiesController.cs
  UserManagement/Controllers/BatchController.cs
  UserManagement/Controllers/InstructorsController.cs
  UserManagement/Controllers/SkillController.cs
  UserManagement/Controllers/TraineeController.cs
  UserManagement/DTOs/AdminProfileDTO.cs
  UserManagement/DTOs/AvailabilityDtos.cs
  UserManagement/Migrations/20251006104255_SeedAdminProfiles.Designer.cs
  UserManagement/Migrations/20251006104255_SeedAdminProfiles.cs
  UserManagement/Migrations/20251006105251_InitAdminSeed.Designer.cs
  UserManagement/Migrations/20251006105251_InitAdminSeed.cs
  UserManagement/Migrations/20251006110639_SeedAvailabilitiesFix.Designer.cs
  UserManagement/Migrations/20251006110639_SeedAvailabilitiesFix.cs
  UserManagement/Program.cs
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/Repositories/IAdminProfileRepository.cs
  UserManagement/SeedData/AdminSeedData.cs
  UserManagement/SeedData/AvailabilitiesSeedData.cs
  UserManagement/Services/AdminProfileService.cs
  UserManagement/Services/IAdminProfileService.cs
  UserManagement/UsersDbContext.cs
  UserManagement/Utilities/TimeOnlyJsonConverter.cs
  UserManagement/services/AvailabilityService.cs
Owners: @mohammedyk7

add some packege
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Controllers/RoleController.cs
  AuthenticationManagement/Program.cs
Owners: @Moha2000-dev

Fixing AutoMapper Version Mismatch Error
  CoursesManagement/CoursesManagement.csproj
Owners: @N6q

Modify Seed data method to add the cteated objects to the database
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

Adding migration for seed data
  CoursesManagement/Migrations/20251007071300_SeedInitialData.Designer.cs
  CoursesManagement/Migrations/20251007071300_SeedInitialData.cs
Owners: @N6q

modify seed data file
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

Do Roles On Category Controller by use Authorization
  CoursesManagement/Controllers/CategoriesController.cs
Owners: @N6q

Modify seed data to set Id manually
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

modify seed data again
  CoursesManagement/Data/SeedData.cs
Owners: @N6q

Modify program file
  CoursesManagement/Program.cs
Owners: @N6q

fix error
  UserManagement/Helpers/Helpers.cs
Owners: @mohammedyk7

Primary Key for the Branch table
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

The city where the branch is located
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

The country where the branch is located
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

Optional email for branch contact
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

Optional description of the branch
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

Adding nvegation
  UserManagement/Models/Branch.cs
Owners: @mohammedyk7

Unique room number
  UserManagement/Models/Room.cs
Owners: @mohammedyk7

UPDATE
  UserManagement/Controllers/AvailabilitiesController.cs
  UserManagement/Controllers/BatchController.cs
  UserManagement/Controllers/InstructorsController.cs
  UserManagement/Controllers/SkillController.cs
  UserManagement/Controllers/TraineeController.cs
  UserManagement/DTOs/InstructorDtos.cs
  UserManagement/DTOs/TraineeDTO.cs
  UserManagement/Helpers/Helpers.cs
  UserManagement/Services/TraineeService.cs
Owners: @mohammedyk7

Praimary Key for the Room Number
  UserManagement/Models/Room.cs
Owners: @mohammedyk7

Navigation property
  UserManagement/Models/Room.cs
Owners: @mohammedyk7

adding Foreign Key linking Room to a Branch
  UserManagement/Models/Room.cs
Owners: @mohammedyk7

edit
  ReportsManagements/Controllers/FileStorageController.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
  ReportsManagements/Services/IReasonCodeService.cs
  ReportsManagements/Services/ReasonCodeService.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
