Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team

uninstall AutoMapper package
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Update README.md
  README.md
Owners: @EngKarimSalah

Update README.md
  README.md
Owners: @EngKarimSalah

Update README.md
  README.md
Owners: @EngKarimSalah

testing branching
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

testing branching2
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

added disply comment
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

edit DB Context
  ReportsManagements/ReportsDbContext.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Build Models, DTOs and Repos for Category
  CoursesManagement/Models/Category.cs
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Adding New Attribute: ResponsibilityDetails
  UserManagement/Models/Admin_Profiles.cs
Owners: @mohammedyk7

fixing migration issues
  ReportsManagements/Migrations/20250930120357_Initial-ContextReportsDbContext.Designer.cs
  ReportsManagements/Migrations/20250930120357_Initial-ContextReportsDbContext.cs
  ReportsManagements/Migrations/20250930122709_UpdateBranchEntity.Designer.cs
  ReportsManagements/Migrations/20250930122709_UpdateBranchEntity.cs
  ReportsManagements/Migrations/20250930123344_InitReasonAndFiles.Designer.cs
  ReportsManagements/Migrations/20250930123344_InitReasonAndFiles.cs
  ReportsManagements/Migrations/20250930123824_SeedReasonCodes.Designer.cs
  ReportsManagements/Migrations/20250930123824_SeedReasonCodes.cs
  ReportsManagements/Migrations/20250930143430_AddNameInGeolocation.Designer.cs
  ReportsManagements/Migrations/20250930143430_AddNameInGeolocation.cs
  ReportsManagements/Migrations/20251001091521_AddGeolocationTable.Designer.cs
  ReportsManagements/Migrations/20251001094041_FixPendingChanges.Designer.cs
  ReportsManagements/Migrations/20251001094041_FixPendingChanges.cs
  ReportsManagements/Migrations/20251001095014_FixForeignKeysAndDecimal.Designer.cs
  ReportsManagements/Migrations/20251001095014_FixForeignKeysAndDecimal.cs
  ReportsManagements/Migrations/20251001095829_InitialSeed.Designer.cs
  ReportsManagements/Migrations/20251001095829_InitialSeed.cs
  ReportsManagements/Migrations/20251001102132_Add-TrainerReport+CourseReport.Designer.cs
  ReportsManagements/Migrations/20251001102132_Add-TrainerReport+CourseReport.cs
  ReportsManagements/Migrations/20251001120914_AddNewFields.cs
  ReportsManagements/Migrations/20251002100440_initial.Designer.cs
  ReportsManagements/Migrations/20251002100440_initial.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/SeedData/ReportsSeedData.cs
  ReportsManagements/appsettings.json
Owners: @Moha2000-dev, @mohammed-alshabibi

fix the conflic
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Edit in generic repo (Iqueryable)
  CoursesManagement/Repos/GenericRepo.cs
Owners: @N6q

add models of users and roles
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Models/Role.cs
  AuthenticationManagement/Models/User.cs
Owners: @Moha2000-dev

add DTOs of users and roles
  AuthenticationManagement/DTOs/RoleDto.cs
  AuthenticationManagement/DTOs/UserDto.cs
Owners: @Moha2000-dev

Fix Category Model
  CoursesManagement/Models/Category.cs
Owners: @N6q

Change in IGenericRepo
  CoursesManagement/Repos/IGenericRepo.cs
Owners: @N6q

Fix Category DTOs & Repos
  CoursesManagement/DTOs/CategoryDto.cs
  CoursesManagement/DTOs/CreateCategoryDto.cs
  CoursesManagement/DTOs/UpdateCategoryDto.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
Owners: @N6q

Add a new Responsibility (sync)
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/Repositories/IAdminProfileRepository.cs
Owners: @mohammedyk7

Build Category Services & Controller
  CoursesManagement/Controllers/CategoriesController.cs
  CoursesManagement/Services/CategoryService.cs
  CoursesManagement/Services/ICategoryService.cs
Owners: @N6q

update an existing Responsibility (Sync).
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

Add a new Responsibility (ASync).
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

update an existing Responsibility (Async).
  UserManagement/Repositories/AdminProfileRepository.cs
Owners: @mohammedyk7

add repo of user and role
  AuthenticationManagement/Repositories/GenericRepository.cs
  AuthenticationManagement/Repositories/IGenericRepository.cs
  AuthenticationManagement/Repositories/IRoleRepository.cs
  AuthenticationManagement/Repositories/IUserRepository.cs
  AuthenticationManagement/Repositories/RoleRepository.cs
  AuthenticationManagement/Repositories/UserRepository.cs
Owners: @Moha2000-dev

adding the interface for admin profile
  UserManagement/Repositories/AdminProfileRepository.cs
  UserManagement/Repositories/IAdminProfileRepository.cs
Owners: @mohammedyk7

put CheckOut null
  ReportsManagements/DTOs/AttendanceRecordCreateDto.cs
  ReportsManagements/DTOs/AttendanceRecordDto.cs
  ReportsManagements/Models/AttendanceRecord.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

rename
  UserManagement/SeedData/Batches_Trainees_BatchTrainee_SeedData.cs
Owners: @mohammedyk7

rename
  UserManagement/SeedData/ModelBuilderExtensions.cs
Owners: @mohammedyk7

add Dtos
  ReportsManagements/DTOs/ReportDtos.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

create Dto for review and checkout
  ReportsManagements/DTOs/CheckoutDto.cs
  ReportsManagements/DTOs/ReviewDto.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @mohammed-alshabibi

Update README.md
  README.md
Owners: @EngKarimSalah

Add a new Responsibility (sync)
  UserManagement/Services/AdminProfileService.cs
  UserManagement/Services/IAdminProfileService.cs
Owners: @mohammedyk7

update Maaping class
  ReportsManagements/Mapping/AttendanceMapping.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Update an existing Responsibility (sync).
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Add a new Responsibility (async).
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Created Certificate Model
  CoursesManagement/Models/Certificate.cs
Owners: @N6q

Update an existing Responsibility (async)
  UserManagement/Services/AdminProfileService.cs
Owners: @mohammedyk7

Add the interface for admin profile
  UserManagement/Services/AdminProfileService.cs
  UserManagement/Services/IAdminProfileService.cs
Owners: @mohammedyk7

Install packages ( AutoMapper )
  CoursesManagement/CoursesManagement.csproj
Owners: @N6q

Added Fluent API configurations
  CoursesManagement/Models/Certificate.cs
Owners: @N6q
