Repository CodelineDotNetBatches/CodelineOnline, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EngKarimSalah, @Moha2000-dev, @mohammedyk7, @N6q, @mohammed-alshabibi, @CodelineDotNetBatches/platform-team

add JWT auth
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Controllers/AuthController.cs
  AuthenticationManagement/DTOs/AuthDtos.cs
  AuthenticationManagement/Program.cs
  AuthenticationManagement/Repositories/ITokenService.cs
  AuthenticationManagement/Repositories/TokenService.cs
  AuthenticationManagement/Services/AuthService.cs
  AuthenticationManagement/Services/IAuthService.cs
  AuthenticationManagement/appsettings.json
Owners: @Moha2000-dev

fixing some codes in GenericRepo
  CoursesManagement/Repos/GenericRepo.cs
Owners: @N6q

Build repositories for TrainerReport & CourseReport
  ReportsManagements/Repositories/CourseReportRepository.cs
  ReportsManagements/Repositories/ICourseReportRepository.cs
  ReportsManagements/Repositories/ITrainerReportRepository.cs
  ReportsManagements/Repositories/TrainerReportRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Revert "Authentication management"
  AuthenticationManagement/AuthenticationDbContext.cs
  AuthenticationManagement/AuthenticationManagement.csproj
  AuthenticationManagement/Controllers/RoleController.cs
  AuthenticationManagement/Controllers/UserController.cs
  AuthenticationManagement/DTOs/RoleDto.cs
  AuthenticationManagement/DTOs/UserDto.cs
  AuthenticationManagement/Mapping/RoleProfile.cs
  AuthenticationManagement/Mapping/UserProfile.cs
  AuthenticationManagement/Models/Role.cs
  AuthenticationManagement/Models/User.cs
  AuthenticationManagement/Repositories/GenericRepository.cs
  AuthenticationManagement/Repositories/IGenericRepository.cs
  AuthenticationManagement/Repositories/IRoleRepository.cs
  AuthenticationManagement/Repositories/IUserRepository.cs
  AuthenticationManagement/Repositories/RoleRepository.cs
  AuthenticationManagement/Repositories/UserRepository.cs
  AuthenticationManagement/Services/IRoleService.cs
  AuthenticationManagement/Services/IUserService.cs
  AuthenticationManagement/Services/RoleService.cs
  AuthenticationManagement/Services/UserService.cs
Owners: @Moha2000-dev

DTO for transferring Admin Profile data between layers (Service, Controll
  UserManagement/DTOs/AdminProfileDTO.cs
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Unique idenifier Admin Profile data between layers (Service , Controller , etc)
  UserManagement/DTOs/AdminProfileDTO.cs
Owners: @mohammedyk7

edit the Dto File
  UserManagement/DTOs/AdminProfileDTO.cs
Owners: @mohammedyk7

done
  UserManagement/DTOs/AdminProfileDTO.cs
Owners: @mohammedyk7

merge
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Build Category DTOs
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/DTOs/CategoryDetailDto.cs
  CoursesManagement/DTOs/CategoryDto.cs
  CoursesManagement/DTOs/CreateCategoryDto.cs
  CoursesManagement/DTOs/UpdateCategoryDto.cs
  CoursesManagement/Repos/CategoryRepo.cs
  CoursesManagement/Repos/ICategoryRepo.cs
Owners: @N6q

Adding Enrollment model fields
  CoursesManagement/Models/Enrollment.cs
Owners: @N6q

Revert "merge"
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

Revert "merge"
  AuthenticationManagement/AuthenticationManagement.csproj
Owners: @Moha2000-dev

AutoMapper profile to configure mapping rules
  UserManagement/Mapping/AdminProfileMapping .cs
  UserManagement/UserManagement.csproj
Owners: @mohammedyk7

Adding EnrollmentRepo and IEnrollmentRepo
  CoursesManagement/Repos/EnrollmentRepo.cs
  CoursesManagement/Repos/IEnrollmentRepo.cs
Owners: @N6q

Adding ProgramsRepo and IProgramsRepo
  CoursesManagement/Repos/GenericRepo.cs
  CoursesManagement/Repos/IProgramsRepo.cs
  CoursesManagement/Repos/ProgramsRepo.cs
Owners: @N6q

fix
  AuthenticationManagement/Services/AuthService.cs
Owners: @Moha2000-dev

edit
  ReportsManagements/Repositories/FileStorageRepository.cs
  ReportsManagements/Repositories/IFileStorageRepository.cs
  ReportsManagements/Repositories/IReasonCodeRepository.cs
  ReportsManagements/Repositories/ReasonCodeRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

add seed data for tests
  ReportsManagements/SeedData/ReasonAndFileSeedData.cs
  ReportsManagements/SeedData/ReasonCodeSeedConfig.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

test program
  ReportsManagements/Program.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

test data
  AuthenticationManagement/AuthenticationManagement.csproj
  CodelineOnline.Utilities/CodelineOnline.Utilities.csproj
  ReportsManagements/Controllers/FileController.cs
  ReportsManagements/Controllers/FileStorageController.cs
  ReportsManagements/Controllers/ReasonCodeController.cs
  ReportsManagements/DTOs/FileUpdateDTO.cs
  ReportsManagements/Migrations/20250930150804_SeedData.Designer.cs
  ReportsManagements/Migrations/20250930150804_SeedData.cs
  ReportsManagements/Models/FileStorage.cs
  ReportsManagements/Models/ReasonCode.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
Owners: @Moha2000-dev, @CodelineDotNetBatches/platform-team, @mohammed-alshabibi

availability + instructor Models
  UserManagement/Models/Availability.cs
  UserManagement/Models/Instructor.cs
Owners: @mohammedyk7

Revert "fix"
  AuthenticationManagement/Services/AuthService.cs
Owners: @Moha2000-dev

tesy swagger
  ReportsManagements/Controllers/AttendanceController.cs
  ReportsManagements/DTOs/AttendanceRecordCreateDto.cs
  ReportsManagements/DTOs/AttendanceRecordDto.cs
  ReportsManagements/DTOs/AttendanceRecordUpdateDto.cs
  ReportsManagements/Mapping/AttendanceMapping.cs
  ReportsManagements/Migrations/20251001091521_AddGeolocationTable.Designer.cs
  ReportsManagements/Migrations/20251001091521_AddGeolocationTable.cs
  ReportsManagements/Migrations/20251001094041_FixPendingChanges.Designer.cs
  ReportsManagements/Migrations/20251001094041_FixPendingChanges.cs
  ReportsManagements/Migrations/20251001095014_FixForeignKeysAndDecimal.Designer.cs
  ReportsManagements/Migrations/20251001095014_FixForeignKeysAndDecimal.cs
  ReportsManagements/Migrations/20251001095829_InitialSeed.Designer.cs
  ReportsManagements/Migrations/20251001095829_InitialSeed.cs
  ReportsManagements/Migrations/ReportsDbContextModelSnapshot.cs
  ReportsManagements/Models/AttendanceRecord.cs
  ReportsManagements/Program.cs
  ReportsManagements/ReportsDbContext.cs
  ReportsManagements/ReportsManagements.csproj
  ReportsManagements/SeedData/AttendanceRecordSeeder.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

ErrorHandlingMiddleware
  UserManagement/Controllers/Middleware/ErrorHandlingMiddleware.cs
Owners: @mohammedyk7

Availabilities and instructors controllers
  UserManagement/Controllers/AvailabilitiesController.cs
  UserManagement/Controllers/InstructorsController.cs
Owners: @mohammedyk7

availabilities and instructors dtos
  UserManagement/DTOs/AvailabilityDtos.cs
  UserManagement/DTOs/InstructorDtos.cs
Owners: @mohammedyk7

availabilities and instructor models
  UserManagement/Models/Availability.cs
  UserManagement/Models/Instructor.cs
Owners: @mohammedyk7

availabilities and instructors seed data
  UserManagement/SeedData/AvailabilitiesSeedData.cs
  UserManagement/SeedData/InstructorsSeedData.cs
Owners: @mohammedyk7

availabities and instructor context
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

dalete
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

edit
  ReportsManagements/Controllers/CourseReportController.cs
  ReportsManagements/Controllers/TrainerReportController.cs
  ReportsManagements/Migrations/20251001120914_AddNewFields.Designer.cs
  ReportsManagements/Migrations/20251001120914_AddNewFields.cs
  ReportsManagements/Models/CourseReport.cs
  ReportsManagements/Program.cs
  ReportsManagements/Repositories/AttendanceRepository.cs
Owners: @Moha2000-dev, @mohammed-alshabibi

Update project files and add ProgramCreateDto
  CoursesManagement/CoursesManagement.csproj
  CoursesManagement/DTOs/ProgramCreateDto.cs
  CoursesManagement/Models/Programs.cs
Owners: @N6q

repository + services + controllers + dtos + mapping
  UserManagement/Controllers/AvailabilitiesController.cs
  UserManagement/Controllers/InstructorsController.cs
  UserManagement/DTOs/AvailabilityDtos.cs
  UserManagement/DTOs/InstructorDtos.cs
  UserManagement/DTOs/PagingFilter.cs
  UserManagement/repositories/AvailabilityRepo.cs
  UserManagement/repositories/IAvailabilityRepository.cs
  UserManagement/repositories/IInstructorRepository.cs
  UserManagement/repositories/InstructorRepo.cs
  UserManagement/services/AvailabilityService.cs
  UserManagement/services/IAvailabilityService.cs
  UserManagement/services/IInstructorService.cs
  UserManagement/services/InstructorService.cs
Owners: @mohammedyk7

mapping
  UserManagement/mapping/AvailabilityMapping.cs
  UserManagement/mapping/InstructorMapping.cs
Owners: @mohammedyk7

cashing
  UserManagement/Cashing/ICacheService.cs
  UserManagement/Cashing/MemoryCacheService.cs
  UserManagement/services/InstructorService.cs
Owners: @mohammedyk7

dpset instructor + availability
  UserManagement/UsersDbContext.cs
Owners: @mohammedyk7

update instructor
  UserManagement/Models/Instructor.cs
Owners: @mohammedyk7

middleware + migration
  UserManagement/Controllers/Middleware/ErrorHandlingMiddleware.cs
  UserManagement/Migrations/20251002054608_initial.Designer.cs
  UserManagement/Migrations/20251002054608_initial.cs
  UserManagement/Migrations/UsersDbContextModelSnapshot.cs
Owners: @mohammedyk7

DI
  UserManagement/Program.cs
Owners: @mohammedyk7

.github/CODEOWNERS:

# -------------------------------
# CODEOWNERS for CodelineOnline
# -------------------------------

# Default fallback owner
*                                       @EngKarimSalah

# Services owned by team leaders (individuals)
AuthenticationManagement/**             @Moha2000-dev
UserManagement/**                       @mohammedyk7
CoursesManagement/**                    @N6q
ReportsManagements/**                   @Moha2000-dev @mohammed-alshabibi

# Shared utilities
CodelineOnline.Utilities/**             @CodelineDotNetBatches/platform-team
